@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030C;

    --font-principal: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-principal);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 1em;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 1.75em;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    display: block;
    background-color: var(--botao-azul);
    border-radius: 5px;
    text-decoration: none;
    padding: 1em;
    color: var(--branco-principal);
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__aviso{
    font-size: 0.75em;
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 3em;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 3em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulos{
    font-size: 3em;
    color: var(--branco-principal);
}

.dispositivos__lista{
    display: flex;
    justify-content:center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item{
    font-size: 2em;
    color: var(--branco-principals);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo{
    margin-bottom: 2em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 1.5em;

}  

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto{
    color: var(--cinza-secundario);
    margin-bottom: 1em;
    font-size: 0.9em;
}